.container {
	width: 1170px;
	padding: 0;
	font-family: 'montserrat', sans-serif;
}

/*
  ===========================================================================
  Header Styles
  ===========================================================================
*/

.header {
	padding: 20px 0;
}

.header .navigation .item {
	margin-left: 25px;
}

.search input {
	border-radius: 20px;
	border-left: 0;
	width: 280px;
	height: 50px;
	background: #fcfcfc;
	border: 1px solid #aaa;
	border-radius: 30px;
	text-indent: 50px;
}

.search input:focus {
	border-radius: 30px;
	border-color: #66afe9;
	outline: 0;
}

.navigation .user-icon {
	margin-top: 4px;
}

.search {
	position: relative;
	color: #aaa;
	font-size: 20px;
}

.navigation .search .search-zipcode {
	margin-top: -10px;
}

.search-zipcode {
	position: relative;
}

.search-zipcode .fa-search {
	position: absolute;
  top: 15px;
	left: 20px;
}
/*
  ==========================================================================
	Slider Styles
	==========================================================================
*/

.jumbotron {
	position: relative;
	height: 410px;
	background-image: url("../images/slider-bg.gif");
}

.kids {
	position: absolute;
	top: 5px;
	left: 50px;
	height: 405px;
}

.slider-message {
	position: absolute;
	right: 100px;
	top: 90px;
	text-align: center;
	text-transform: uppercase;
}

h1, h2, h3, button {
	font-family: 'montserrat', sans-serif;
	margin: 0;
}

h1 {
	font-weight: bold;
	margin-bottom: 9px;
}

h2 {
	font-size: 43px;
	margin-bottom: 8px;
}

h3 {
	font-weight: lighter;
	font-size: 27px;
	margin-bottom: 13px;
	word-spacing: -3px;
}

.slider-message button {
	font-size: 18px;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	border-radius: 20px;
	padding: 8px 40px 8px 40px;
}

.slider-message button:focus {
	border-radius: 30px;
}

/*
  ==========================================================================
	Features
  ==========================================================================
*/

.features {
	width: 1080px;
	margin: 20px;
}

.features-item {
	position: relative;
	border: 1px grey;
}

.features-icon {
	position: absolute;
	top: 25px;
}

.features-title {
	padding-left: 50px;
	font-size: 11px;
}

.features-title h5 {
	font-size: 15px;
}

/*
  ==========================================================================
	Swapables
	==========================================================================
*/

.swapables-header {
	margin: 10px 0 20px 0;
}

.swapables-header h4 {
	font-size: 20px;
	text-transform: capitalize;
}

.swapables-header span {
  font-size: 12px;
}

.swapables {
	margin-top: 20px;
}

.swapables h6 {
	margin: 10px 0 0 0;
	padding-bottom: 0;
	height:35px;
	font-size: 14px;
	font-weight: lighter;
}

.swapable-item p {
	font-size: 11px;
	font-weight: lighter;
	color: grey;
	padding-top: 0;
	margin: 0 0 10px 0;
}

.swapable-item button {
  border-radius: 8px;
  border-color: #1b8bcc;
	color: #1b8bcc;
	padding: 2px 25px 2px 25px;
	background-color: white;
	margin: 0 0 30px 0;
	font-size: 16px;
}